@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-4">

        <form method="post">
            <div class="mb-3">
                <select onchange="this.form.submit()" asp-for="SelectedFruit" class="form-control" asp-items="@Model.Options"></select>
            </div>
        </form>

        <input class="form-control" value="@Model.SelectedFruitPrice" />

    </div>
</div>
